html {
   height: 100%;
   background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
   overflow: hidden;
}

#stars {
   width: 1px;
   height: 1px;
   background: transparent;
   box-shadow: 699px 2923px #fff, 979px 976px #fff, 1760px 1655px #fff, 252px 1560px #fff, 909px 2px #fff,
      432px 570px #fff, 258px 1995px #fff, 554px 1669px #fff, 1714px 1229px #fff, 1635px 57px #fff, 1335px 1855px #fff,
      440px 592px #fff, 1869px 1875px #fff, 1999px 973px #fff, 1336px 470px #fff, 1278px 667px #fff, 91px 220px #fff,
      205px 1424px #fff, 647px 92px #fff, 689px 77px #fff, 576px 1392px #fff, 1975px 1746px #fff, 1271px 1087px #fff,
      1183px 1422px #fff, 5px 1424px #fff, 1972px 1665px #fff, 1073px 1891px #fff, 202px 358px #fff, 1402px 91px #fff,
      142px 815px #fff, 19px 1938px #fff, 750px 379px #fff, 1580px 1821px #fff, 656px 1579px #fff, 1690px 358px #fff,
      1668px 1375px #fff, 780px 1351px #fff, 1771px 357px #fff, 1871px 1965px #fff, 717px 665px #fff, 1999px 200px #fff,
      1619px 587px #fff, 664px 815px #fff, 1383px 11px #fff, 626px 1403px #fff, 1226px 1410px #fff, 1424px 1268px #fff,
      1034px 71px #fff, 718px 1488px #fff, 1717px 1291px #fff, 1947px 1978px #fff, 1497px 1371px #fff, 861px 1835px #fff,
      1567px 1884px #fff, 205px 493px #fff, 528px 1222px #fff, 914px 1918px #fff, 1941px 1247px #fff, 427px 1091px #fff,
      709px 1615px #fff, 185px 1725px #fff, 1676px 1256px #fff, 1308px 1924px #fff, 1743px 374px #fff, 119px 1877px #fff,
      1094px 1629px #fff, 1062px 606px #fff, 1315px 1470px #fff, 1563px 1231px #fff, 1790px 1330px #fff,
      1335px 1657px #fff, 683px 1746px #fff, 1217px 536px #fff, 1186px 940px #fff, 1200px 360px #fff, 627px 1801px #fff,
      574px 980px #fff, 1248px 1182px #fff, 1591px 1182px #fff, 998px 1885px #fff, 1586px 1523px #fff,
      1080px 1195px #fff, 1575px 669px #fff, 1977px 1781px #fff, 1306px 1581px #fff, 1301px 1997px #fff,
      172px 1791px #fff, 1135px 1975px #fff, 1518px 1808px #fff, 385px 1543px #fff, 1483px 565px #fff, 557px 1875px #fff,
      1192px 1266px #fff, 1045px 863px #fff, 1823px 1266px #fff, 141px 47px #fff, 759px 635px #fff, 294px 1334px #fff,
      45px 406px #fff, 1690px 358px #fff, 877px 1352px #fff, 932px 1572px #fff, 517px 618px #fff, 1016px 1117px #fff,
      1362px 778px #fff, 1191px 1349px #fff, 34px 1938px #fff, 475px 738px #fff, 1225px 871px #fff, 180px 185px #fff,
      14px 1723px #fff, 787px 94px #fff, 1267px 664px #fff, 97px 598px #fff, 948px 1031px #fff, 1437px 1585px #fff,
      252px 899px #fff, 1368px 546px #fff, 1729px 1679px #fff, 882px 663px #fff, 1367px 866px #fff, 256px 410px #fff,
      1087px 569px #fff, 5px 473px #fff, 1212px 1386px #fff, 1908px 73px #fff, 1558px 1369px #fff, 1858px 139px #fff,
      668px 52px #fff, 1627px 1043px #fff, 1429px 166px #fff, 1468px 1407px #fff, 1746px 165px #fff, 1791px 802px #fff,
      1869px 1197px #fff, 903px 1504px #fff, 531px 730px #fff, 1403px 341px #fff, 689px 1395px #fff, 564px 833px #fff,
      1631px 1388px #fff, 1287px 500px #fff, 1349px 1443px #fff, 1732px 709px #fff, 696px 991px #fff, 999px 735px #fff,
      243px 1256px #fff, 637px 682px #fff, 1523px 1557px #fff, 1742px 146px #fff, 870px 1554px #fff, 779px 521px #fff,
      1834px 372px #fff, 1529px 1967px #fff, 1213px 790px #fff, 1088px 760px #fff, 735px 300px #fff, 492px 876px #fff,
      136px 783px #fff, 355px 731px #fff, 330px 609px #fff, 1399px 51px #fff, 1020px 893px #fff, 1210px 652px #fff,
      735px 404px #fff, 1409px 788px #fff, 539px 1327px #fff, 1022px 380px #fff, 1103px 1441px #fff, 336px 1910px #fff,
      1733px 544px #fff, 1318px 775px #fff, 445px 285px #fff, 1542px 1073px #fff, 1581px 1851px #fff, 821px 1997px #fff,
      416px 583px #fff, 861px 1818px #fff, 1719px 1093px #fff, 623px 109px #fff, 788px 1576px #fff, 535px 296px #fff,
      1027px 434px #fff, 1418px 662px #fff, 1718px 1117px #fff, 1671px 934px #fff, 634px 1509px #fff, 1523px 1684px #fff,
      609px 1441px #fff, 540px 1386px #fff, 1662px 1236px #fff, 324px 250px #fff, 730px 1720px #fff, 603px 533px #fff,
      1790px 1118px #fff, 1349px 1535px #fff, 84px 300px #fff, 1084px 1245px #fff, 1312px 859px #fff, 1973px 1755px #fff,
      1930px 1995px #fff, 1250px 600px #fff, 1321px 818px #fff, 1234px 1369px #fff, 1846px 865px #fff, 375px 1707px #fff,
      1042px 134px #fff, 705px 795px #fff, 1243px 237px #fff, 373px 1910px #fff, 1522px 1547px #fff, 600px 767px #fff,
      1000px 538px #fff, 1176px 448px #fff, 174px 1103px #fff, 1477px 1931px #fff, 315px 1493px #fff, 162px 1319px #fff,
      1512px 1526px #fff, 1624px 271px #fff, 893px 568px #fff, 1437px 1832px #fff, 1692px 1699px #fff, 1296px 746px #fff,
      213px 1216px #fff, 1108px 1989px #fff, 1066px 303px #fff, 1846px 859px #fff, 1203px 125px #fff, 706px 97px #fff,
      411px 421px #fff, 444px 1250px #fff, 1303px 931px #fff, 1220px 501px #fff, 282px 849px #fff, 570px 1099px #fff,
      1539px 645px #fff, 1553px 93px #fff, 822px 1754px #fff, 1546px 1518px #fff, 1462px 764px #fff, 441px 1676px #fff,
      1124px 1861px #fff, 472px 756px #fff, 1903px 1615px #fff, 222px 1863px #fff, 637px 212px #fff, 1986px 535px #fff,
      274px 280px #fff, 358px 1314px #fff, 1154px 1493px #fff, 1635px 581px #fff, 587px 574px #fff, 179px 1472px #fff,
      1293px 32px #fff, 1803px 441px #fff, 1643px 1775px #fff, 1884px 1957px #fff, 1477px 1525px #fff, 726px 566px #fff,
      1682px 1296px #fff, 1862px 1477px #fff, 305px 829px #fff, 1016px 757px #fff, 777px 666px #fff, 294px 503px #fff,
      1389px 1074px #fff, 395px 1849px #fff, 763px 1943px #fff, 439px 760px #fff, 555px 56px #fff, 1209px 1812px #fff,
      1451px 1827px #fff, 703px 1305px #fff, 1415px 906px #fff, 1780px 548px #fff, 1491px 954px #fff, 1705px 361px #fff,
      254px 149px #fff, 560px 430px #fff, 461px 1630px #fff, 1909px 1722px #fff, 1701px 1292px #fff, 826px 445px #fff,
      1555px 243px #fff, 560px 340px #fff, 828px 1353px #fff, 1775px 1432px #fff, 946px 1172px #fff, 1095px 643px #fff,
      570px 1585px #fff, 1386px 1552px #fff, 1104px 738px #fff, 1329px 470px #fff, 914px 69px #fff, 621px 1852px #fff,
      1866px 1228px #fff, 233px 1669px #fff, 965px 626px #fff, 734px 382px #fff, 1149px 767px #fff, 1667px 986px #fff,
      665px 154px #fff, 554px 1262px #fff, 936px 1794px #fff, 109px 1889px #fff, 1348px 1113px #fff, 706px 912px #fff,
      368px 20px #fff, 691px 1668px #fff, 262px 633px #fff, 1991px 969px #fff, 623px 1820px #fff, 795px 1107px #fff,
      1764px 1764px #fff, 754px 1895px #fff, 476px 1933px #fff, 963px 1434px #fff, 1434px 1252px #fff,
      1020px 1823px #fff, 1594px 682px #fff, 1614px 866px #fff, 747px 824px #fff, 68px 517px #fff, 14px 822px #fff,
      1340px 444px #fff, 431px 234px #fff, 478px 1446px #fff, 898px 1922px #fff, 483px 1579px #fff, 985px 782px #fff,
      622px 535px #fff, 696px 1655px #fff, 466px 662px #fff, 1018px 1194px #fff, 1447px 1574px #fff, 710px 1373px #fff,
      727px 865px #fff, 1744px 1245px #fff, 1782px 853px #fff, 1433px 556px #fff, 1010px 112px #fff, 941px 1893px #fff,
      524px 1074px #fff, 272px 1275px #fff, 402px 397px #fff, 705px 1856px #fff, 634px 704px #fff, 678px 47px #fff,
      1032px 294px #fff, 591px 372px #fff, 253px 17px #fff, 143px 285px #fff, 1056px 1693px #fff, 1005px 1753px #fff,
      1420px 955px #fff, 1531px 887px #fff, 1319px 581px #fff, 908px 1598px #fff, 1741px 1034px #fff, 108px 1564px #fff,
      293px 793px #fff, 1093px 1005px #fff, 654px 1941px #fff, 1157px 1162px #fff, 830px 231px #fff, 1807px 562px #fff,
      746px 1635px #fff, 411px 1973px #fff, 217px 1703px #fff, 456px 1469px #fff, 1809px 1253px #fff, 1197px 934px #fff,
      1236px 1837px #fff, 1229px 38px #fff, 446px 1166px #fff, 1505px 960px #fff, 1938px 354px #fff, 1446px 266px #fff,
      936px 1814px #fff, 381px 1048px #fff, 1305px 1118px #fff, 1617px 1709px #fff, 1810px 1614px #fff,
      446px 1955px #fff, 965px 54px #fff, 555px 542px #fff, 1680px 634px #fff, 1573px 1783px #fff, 1625px 904px #fff,
      1287px 59px #fff, 35px 30px #fff, 1984px 309px #fff, 1892px 1560px #fff, 73px 1506px #fff, 1444px 1894px #fff,
      1110px 330px #fff, 624px 929px #fff, 1967px 274px #fff, 1110px 893px #fff, 1436px 1258px #fff, 1320px 1508px #fff,
      326px 1445px #fff, 427px 492px #fff, 762px 171px #fff, 1093px 1168px #fff, 1630px 929px #fff, 1814px 166px #fff,
      598px 1372px #fff, 187px 502px #fff, 1226px 824px #fff, 3px 766px #fff, 406px 966px #fff, 1105px 362px #fff,
      1097px 427px #fff, 247px 159px #fff, 1378px 5px #fff, 1111px 176px #fff, 1772px 339px #fff, 1224px 443px #fff,
      1180px 1748px #fff, 1073px 506px #fff, 767px 1335px #fff, 338px 1904px #fff, 1435px 1623px #fff, 1330px 713px #fff,
      1829px 1937px #fff, 1289px 186px #fff, 1307px 790px #fff, 402px 718px #fff, 684px 1946px #fff, 1340px 263px #fff,
      172px 1991px #fff, 502px 346px #fff, 661px 228px #fff, 1113px 465px #fff, 1599px 1509px #fff, 927px 674px #fff,
      1919px 213px #fff, 694px 1604px #fff, 1006px 992px #fff, 1122px 609px #fff, 301px 1680px #fff, 1189px 1720px #fff,
      780px 859px #fff, 545px 224px #fff, 961px 617px #fff, 1476px 532px #fff, 964px 1409px #fff, 710px 778px #fff,
      1470px 1050px #fff, 1048px 1750px #fff, 634px 604px #fff, 1617px 1236px #fff, 1940px 317px #fff, 1377px 243px #fff,
      1099px 848px #fff, 1748px 525px #fff, 1128px 290px #fff, 1219px 1432px #fff, 1645px 1622px #fff, 990px 1747px #fff,
      1691px 320px #fff, 1605px 1595px #fff, 1886px 1432px #fff, 1210px 995px #fff, 246px 1647px #fff,
      1209px 1423px #fff, 627px 824px #fff, 1578px 120px #fff, 1842px 502px #fff, 597px 1786px #fff, 1171px 87px #fff,
      1078px 30px #fff, 1243px 1754px #fff, 5px 487px #fff, 1901px 156px #fff, 1292px 1452px #fff, 1797px 924px #fff,
      197px 1030px #fff, 1975px 732px #fff, 446px 256px #fff, 1200px 1922px #fff, 981px 1366px #fff, 513px 1934px #fff,
      1940px 415px #fff, 1095px 1175px #fff, 519px 1445px #fff, 1954px 1737px #fff, 1951px 1583px #fff,
      724px 1682px #fff, 1255px 1809px #fff, 4px 1480px #fff, 1008px 513px #fff, 1484px 855px #fff, 538px 440px #fff,
      1152px 969px #fff, 1957px 1844px #fff, 1366px 162px #fff, 1987px 1515px #fff, 1432px 316px #fff, 1390px 250px #fff,
      377px 962px #fff, 1228px 147px #fff, 871px 63px #fff, 1735px 847px #fff, 1598px 1692px #fff, 1458px 724px #fff,
      1806px 807px #fff, 818px 198px #fff, 858px 31px #fff, 1142px 1375px #fff, 1211px 1499px #fff, 1007px 1880px #fff,
      530px 755px #fff, 930px 505px #fff, 1423px 634px #fff, 1417px 865px #fff, 1525px 531px #fff, 528px 711px #fff,
      108px 1815px #fff, 191px 1754px #fff, 323px 1332px #fff, 852px 501px #fff, 1766px 1460px #fff, 736px 1092px #fff,
      1827px 118px #fff, 1707px 1075px #fff, 1826px 853px #fff, 274px 1688px #fff, 1871px 1928px #fff,
      1482px 1576px #fff, 368px 1481px #fff, 272px 652px #fff, 185px 1167px #fff, 1178px 1064px #fff, 1492px 45px #fff,
      1810px 628px #fff, 1406px 738px #fff, 714px 1295px #fff, 735px 333px #fff, 1106px 933px #fff, 198px 813px #fff,
      288px 595px #fff, 200px 1910px #fff, 1990px 1958px #fff, 857px 1416px #fff, 1799px 88px #fff, 1728px 1919px #fff,
      5px 370px #fff, 1567px 1703px #fff, 1533px 18px #fff, 1926px 294px #fff, 867px 1230px #fff, 82px 920px #fff,
      1613px 340px #fff, 1508px 86px #fff, 869px 611px #fff, 201px 1315px #fff, 5px 697px #fff, 1370px 1603px #fff,
      441px 1591px #fff, 3px 421px #fff, 1388px 1082px #fff, 1489px 1705px #fff, 1843px 644px #fff, 1015px 1804px #fff,
      1871px 512px #fff, 820px 1769px #fff, 421px 554px #fff, 1817px 790px #fff, 830px 595px #fff, 960px 844px #fff,
      1997px 1927px #fff, 1339px 1881px #fff, 112px 704px #fff, 695px 1194px #fff, 564px 1691px #fff, 521px 1210px #fff,
      1872px 458px #fff, 1326px 82px #fff, 1032px 1578px #fff, 1262px 1519px #fff, 1408px 1329px #fff, 743px 774px #fff,
      1421px 68px #fff, 1895px 1415px #fff, 1369px 440px #fff, 1010px 1488px #fff, 1851px 154px #fff, 344px 515px #fff,
      880px 744px #fff, 1856px 842px #fff, 1740px 451px #fff, 414px 985px #fff, 125px 1187px #fff, 1559px 560px #fff,
      1046px 1101px #fff, 9px 718px #fff, 1856px 1278px #fff, 656px 1459px #fff, 1044px 1397px #fff, 318px 757px #fff,
      247px 306px #fff, 1356px 660px #fff, 410px 1667px #fff, 251px 43px #fff, 1672px 1096px #fff, 1888px 921px #fff,
      1766px 1168px #fff, 1973px 1579px #fff, 161px 625px #fff, 955px 1335px #fff, 527px 701px #fff, 1670px 806px #fff,
      1185px 691px #fff, 1863px 972px #fff, 623px 970px #fff, 750px 606px #fff, 1717px 1810px #fff, 110px 1220px #fff,
      1998px 470px #fff, 765px 888px #fff, 569px 802px #fff, 1006px 1674px #fff, 492px 897px #fff, 1875px 701px #fff,
      641px 380px #fff, 1193px 305px #fff, 285px 168px #fff, 1939px 281px #fff, 240px 422px #fff, 404px 1988px #fff,
      1178px 1456px #fff, 1018px 615px #fff, 1083px 1344px #fff, 1221px 194px #fff, 276px 1391px #fff, 906px 603px #fff,
      1836px 1210px #fff, 1481px 1490px #fff, 637px 1503px #fff, 1311px 970px #fff, 539px 430px #fff, 1123px 751px #fff,
      136px 700px #fff, 1602px 1784px #fff, 1344px 1102px #fff, 860px 754px #fff, 368px 1414px #fff, 1924px 288px #fff,
      956px 1880px #fff, 1201px 43px #fff, 1352px 1550px #fff, 1269px 233px #fff, 1382px 259px #fff, 462px 922px #fff,
      1540px 1147px #fff, 1028px 962px #fff, 329px 1796px #fff, 1409px 1384px #fff, 882px 1243px #fff,
      1782px 1927px #fff, 1349px 1505px #fff, 1585px 84px #fff, 1633px 1789px #fff, 1024px 1957px #fff,
      1809px 285px #fff, 1083px 160px #fff, 637px 782px #fff, 380px 1605px #fff, 1085px 1064px #fff, 564px 953px #fff,
      1942px 123px #fff, 1756px 1096px #fff, 717px 1797px #fff, 1333px 737px #fff, 1956px 1976px #fff, 1655px 548px #fff,
      446px 800px #fff, 1117px 539px #fff, 1071px 606px #fff, 424px 1068px #fff, 1957px 1077px #fff, 239px 918px #fff,
      216px 652px #fff, 466px 10px #fff, 1121px 847px #fff, 258px 707px #fff, 53px 851px #fff, 1808px 1650px #fff,
      1018px 1318px #fff, 702px 538px #fff, 694px 1890px #fff, 1126px 1654px #fff, 1036px 1863px #fff, 282px 1449px #fff,
      1025px 1431px #fff, 287px 792px #fff, 507px 355px #fff;
   animation: animStar 50s linear infinite;
}
#stars:after {
   content: ' ';
   position: absolute;
   top: 2000px;
   width: 1px;
   height: 1px;
   background: transparent;
   box-shadow: 699px 2923px #fff, 979px 976px #fff, 1760px 1655px #fff, 252px 1560px #fff, 909px 2px #fff,
      432px 570px #fff, 258px 1995px #fff, 554px 1669px #fff, 1714px 1229px #fff, 1635px 57px #fff, 1335px 1855px #fff,
      440px 592px #fff, 1869px 1875px #fff, 1999px 973px #fff, 1336px 470px #fff, 1278px 667px #fff, 91px 220px #fff,
      205px 1424px #fff, 647px 92px #fff, 689px 77px #fff, 576px 1392px #fff, 1975px 1746px #fff, 1271px 1087px #fff,
      1183px 1422px #fff, 5px 1424px #fff, 1972px 1665px #fff, 1073px 1891px #fff, 202px 358px #fff, 1402px 91px #fff,
      142px 815px #fff, 19px 1938px #fff, 750px 379px #fff, 1580px 1821px #fff, 656px 1579px #fff, 1690px 358px #fff,
      1668px 1375px #fff, 780px 1351px #fff, 1771px 357px #fff, 1871px 1965px #fff, 717px 665px #fff, 1999px 200px #fff,
      1619px 587px #fff, 664px 815px #fff, 1383px 11px #fff, 626px 1403px #fff, 1226px 1410px #fff, 1424px 1268px #fff,
      1034px 71px #fff, 718px 1488px #fff, 1717px 1291px #fff, 1947px 1978px #fff, 1497px 1371px #fff, 861px 1835px #fff,
      1567px 1884px #fff, 205px 493px #fff, 528px 1222px #fff, 914px 1918px #fff, 1941px 1247px #fff, 427px 1091px #fff,
      709px 1615px #fff, 185px 1725px #fff, 1676px 1256px #fff, 1308px 1924px #fff, 1743px 374px #fff, 119px 1877px #fff,
      1094px 1629px #fff, 1062px 606px #fff, 1315px 1470px #fff, 1563px 1231px #fff, 1790px 1330px #fff,
      1335px 1657px #fff, 683px 1746px #fff, 1217px 536px #fff, 1186px 940px #fff, 1200px 360px #fff, 627px 1801px #fff,
      574px 980px #fff, 1248px 1182px #fff, 1591px 1182px #fff, 998px 1885px #fff, 1586px 1523px #fff,
      1080px 1195px #fff, 1575px 669px #fff, 1977px 1781px #fff, 1306px 1581px #fff, 1301px 1997px #fff,
      172px 1791px #fff, 1135px 1975px #fff, 1518px 1808px #fff, 385px 1543px #fff, 1483px 565px #fff, 557px 1875px #fff,
      1192px 1266px #fff, 1045px 863px #fff, 1823px 1266px #fff, 141px 47px #fff, 759px 635px #fff, 294px 1334px #fff,
      45px 406px #fff, 1690px 358px #fff, 877px 1352px #fff, 932px 1572px #fff, 517px 618px #fff, 1016px 1117px #fff,
      1362px 778px #fff, 1191px 1349px #fff, 34px 1938px #fff, 475px 738px #fff, 1225px 871px #fff, 180px 185px #fff,
      14px 1723px #fff, 787px 94px #fff, 1267px 664px #fff, 97px 598px #fff, 948px 1031px #fff, 1437px 1585px #fff,
      252px 899px #fff, 1368px 546px #fff, 1729px 1679px #fff, 882px 663px #fff, 1367px 866px #fff, 256px 410px #fff,
      1087px 569px #fff, 5px 473px #fff, 1212px 1386px #fff, 1908px 73px #fff, 1558px 1369px #fff, 1858px 139px #fff,
      668px 52px #fff, 1627px 1043px #fff, 1429px 166px #fff, 1468px 1407px #fff, 1746px 165px #fff, 1791px 802px #fff,
      1869px 1197px #fff, 903px 1504px #fff, 531px 730px #fff, 1403px 341px #fff, 689px 1395px #fff, 564px 833px #fff,
      1631px 1388px #fff, 1287px 500px #fff, 1349px 1443px #fff, 1732px 709px #fff, 696px 991px #fff, 999px 735px #fff,
      243px 1256px #fff, 637px 682px #fff, 1523px 1557px #fff, 1742px 146px #fff, 870px 1554px #fff, 779px 521px #fff,
      1834px 372px #fff, 1529px 1967px #fff, 1213px 790px #fff, 1088px 760px #fff, 735px 300px #fff, 492px 876px #fff,
      136px 783px #fff, 355px 731px #fff, 330px 609px #fff, 1399px 51px #fff, 1020px 893px #fff, 1210px 652px #fff,
      735px 404px #fff, 1409px 788px #fff, 539px 1327px #fff, 1022px 380px #fff, 1103px 1441px #fff, 336px 1910px #fff,
      1733px 544px #fff, 1318px 775px #fff, 445px 285px #fff, 1542px 1073px #fff, 1581px 1851px #fff, 821px 1997px #fff,
      416px 583px #fff, 861px 1818px #fff, 1719px 1093px #fff, 623px 109px #fff, 788px 1576px #fff, 535px 296px #fff,
      1027px 434px #fff, 1418px 662px #fff, 1718px 1117px #fff, 1671px 934px #fff, 634px 1509px #fff, 1523px 1684px #fff,
      609px 1441px #fff, 540px 1386px #fff, 1662px 1236px #fff, 324px 250px #fff, 730px 1720px #fff, 603px 533px #fff,
      1790px 1118px #fff, 1349px 1535px #fff, 84px 300px #fff, 1084px 1245px #fff, 1312px 859px #fff, 1973px 1755px #fff,
      1930px 1995px #fff, 1250px 600px #fff, 1321px 818px #fff, 1234px 1369px #fff, 1846px 865px #fff, 375px 1707px #fff,
      1042px 134px #fff, 705px 795px #fff, 1243px 237px #fff, 373px 1910px #fff, 1522px 1547px #fff, 600px 767px #fff,
      1000px 538px #fff, 1176px 448px #fff, 174px 1103px #fff, 1477px 1931px #fff, 315px 1493px #fff, 162px 1319px #fff,
      1512px 1526px #fff, 1624px 271px #fff, 893px 568px #fff, 1437px 1832px #fff, 1692px 1699px #fff, 1296px 746px #fff,
      213px 1216px #fff, 1108px 1989px #fff, 1066px 303px #fff, 1846px 859px #fff, 1203px 125px #fff, 706px 97px #fff,
      411px 421px #fff, 444px 1250px #fff, 1303px 931px #fff, 1220px 501px #fff, 282px 849px #fff, 570px 1099px #fff,
      1539px 645px #fff, 1553px 93px #fff, 822px 1754px #fff, 1546px 1518px #fff, 1462px 764px #fff, 441px 1676px #fff,
      1124px 1861px #fff, 472px 756px #fff, 1903px 1615px #fff, 222px 1863px #fff, 637px 212px #fff, 1986px 535px #fff,
      274px 280px #fff, 358px 1314px #fff, 1154px 1493px #fff, 1635px 581px #fff, 587px 574px #fff, 179px 1472px #fff,
      1293px 32px #fff, 1803px 441px #fff, 1643px 1775px #fff, 1884px 1957px #fff, 1477px 1525px #fff, 726px 566px #fff,
      1682px 1296px #fff, 1862px 1477px #fff, 305px 829px #fff, 1016px 757px #fff, 777px 666px #fff, 294px 503px #fff,
      1389px 1074px #fff, 395px 1849px #fff, 763px 1943px #fff, 439px 760px #fff, 555px 56px #fff, 1209px 1812px #fff,
      1451px 1827px #fff, 703px 1305px #fff, 1415px 906px #fff, 1780px 548px #fff, 1491px 954px #fff, 1705px 361px #fff,
      254px 149px #fff, 560px 430px #fff, 461px 1630px #fff, 1909px 1722px #fff, 1701px 1292px #fff, 826px 445px #fff,
      1555px 243px #fff, 560px 340px #fff, 828px 1353px #fff, 1775px 1432px #fff, 946px 1172px #fff, 1095px 643px #fff,
      570px 1585px #fff, 1386px 1552px #fff, 1104px 738px #fff, 1329px 470px #fff, 914px 69px #fff, 621px 1852px #fff,
      1866px 1228px #fff, 233px 1669px #fff, 965px 626px #fff, 734px 382px #fff, 1149px 767px #fff, 1667px 986px #fff,
      665px 154px #fff, 554px 1262px #fff, 936px 1794px #fff, 109px 1889px #fff, 1348px 1113px #fff, 706px 912px #fff,
      368px 20px #fff, 691px 1668px #fff, 262px 633px #fff, 1991px 969px #fff, 623px 1820px #fff, 795px 1107px #fff,
      1764px 1764px #fff, 754px 1895px #fff, 476px 1933px #fff, 963px 1434px #fff, 1434px 1252px #fff,
      1020px 1823px #fff, 1594px 682px #fff, 1614px 866px #fff, 747px 824px #fff, 68px 517px #fff, 14px 822px #fff,
      1340px 444px #fff, 431px 234px #fff, 478px 1446px #fff, 898px 1922px #fff, 483px 1579px #fff, 985px 782px #fff,
      622px 535px #fff, 696px 1655px #fff, 466px 662px #fff, 1018px 1194px #fff, 1447px 1574px #fff, 710px 1373px #fff,
      727px 865px #fff, 1744px 1245px #fff, 1782px 853px #fff, 1433px 556px #fff, 1010px 112px #fff, 941px 1893px #fff,
      524px 1074px #fff, 272px 1275px #fff, 402px 397px #fff, 705px 1856px #fff, 634px 704px #fff, 678px 47px #fff,
      1032px 294px #fff, 591px 372px #fff, 253px 17px #fff, 143px 285px #fff, 1056px 1693px #fff, 1005px 1753px #fff,
      1420px 955px #fff, 1531px 887px #fff, 1319px 581px #fff, 908px 1598px #fff, 1741px 1034px #fff, 108px 1564px #fff,
      293px 793px #fff, 1093px 1005px #fff, 654px 1941px #fff, 1157px 1162px #fff, 830px 231px #fff, 1807px 562px #fff,
      746px 1635px #fff, 411px 1973px #fff, 217px 1703px #fff, 456px 1469px #fff, 1809px 1253px #fff, 1197px 934px #fff,
      1236px 1837px #fff, 1229px 38px #fff, 446px 1166px #fff, 1505px 960px #fff, 1938px 354px #fff, 1446px 266px #fff,
      936px 1814px #fff, 381px 1048px #fff, 1305px 1118px #fff, 1617px 1709px #fff, 1810px 1614px #fff,
      446px 1955px #fff, 965px 54px #fff, 555px 542px #fff, 1680px 634px #fff, 1573px 1783px #fff, 1625px 904px #fff,
      1287px 59px #fff, 35px 30px #fff, 1984px 309px #fff, 1892px 1560px #fff, 73px 1506px #fff, 1444px 1894px #fff,
      1110px 330px #fff, 624px 929px #fff, 1967px 274px #fff, 1110px 893px #fff, 1436px 1258px #fff, 1320px 1508px #fff,
      326px 1445px #fff, 427px 492px #fff, 762px 171px #fff, 1093px 1168px #fff, 1630px 929px #fff, 1814px 166px #fff,
      598px 1372px #fff, 187px 502px #fff, 1226px 824px #fff, 3px 766px #fff, 406px 966px #fff, 1105px 362px #fff,
      1097px 427px #fff, 247px 159px #fff, 1378px 5px #fff, 1111px 176px #fff, 1772px 339px #fff, 1224px 443px #fff,
      1180px 1748px #fff, 1073px 506px #fff, 767px 1335px #fff, 338px 1904px #fff, 1435px 1623px #fff, 1330px 713px #fff,
      1829px 1937px #fff, 1289px 186px #fff, 1307px 790px #fff, 402px 718px #fff, 684px 1946px #fff, 1340px 263px #fff,
      172px 1991px #fff, 502px 346px #fff, 661px 228px #fff, 1113px 465px #fff, 1599px 1509px #fff, 927px 674px #fff,
      1919px 213px #fff, 694px 1604px #fff, 1006px 992px #fff, 1122px 609px #fff, 301px 1680px #fff, 1189px 1720px #fff,
      780px 859px #fff, 545px 224px #fff, 961px 617px #fff, 1476px 532px #fff, 964px 1409px #fff, 710px 778px #fff,
      1470px 1050px #fff, 1048px 1750px #fff, 634px 604px #fff, 1617px 1236px #fff, 1940px 317px #fff, 1377px 243px #fff,
      1099px 848px #fff, 1748px 525px #fff, 1128px 290px #fff, 1219px 1432px #fff, 1645px 1622px #fff, 990px 1747px #fff,
      1691px 320px #fff, 1605px 1595px #fff, 1886px 1432px #fff, 1210px 995px #fff, 246px 1647px #fff,
      1209px 1423px #fff, 627px 824px #fff, 1578px 120px #fff, 1842px 502px #fff, 597px 1786px #fff, 1171px 87px #fff,
      1078px 30px #fff, 1243px 1754px #fff, 5px 487px #fff, 1901px 156px #fff, 1292px 1452px #fff, 1797px 924px #fff,
      197px 1030px #fff, 1975px 732px #fff, 446px 256px #fff, 1200px 1922px #fff, 981px 1366px #fff, 513px 1934px #fff,
      1940px 415px #fff, 1095px 1175px #fff, 519px 1445px #fff, 1954px 1737px #fff, 1951px 1583px #fff,
      724px 1682px #fff, 1255px 1809px #fff, 4px 1480px #fff, 1008px 513px #fff, 1484px 855px #fff, 538px 440px #fff,
      1152px 969px #fff, 1957px 1844px #fff, 1366px 162px #fff, 1987px 1515px #fff, 1432px 316px #fff, 1390px 250px #fff,
      377px 962px #fff, 1228px 147px #fff, 871px 63px #fff, 1735px 847px #fff, 1598px 1692px #fff, 1458px 724px #fff,
      1806px 807px #fff, 818px 198px #fff, 858px 31px #fff, 1142px 1375px #fff, 1211px 1499px #fff, 1007px 1880px #fff,
      530px 755px #fff, 930px 505px #fff, 1423px 634px #fff, 1417px 865px #fff, 1525px 531px #fff, 528px 711px #fff,
      108px 1815px #fff, 191px 1754px #fff, 323px 1332px #fff, 852px 501px #fff, 1766px 1460px #fff, 736px 1092px #fff,
      1827px 118px #fff, 1707px 1075px #fff, 1826px 853px #fff, 274px 1688px #fff, 1871px 1928px #fff,
      1482px 1576px #fff, 368px 1481px #fff, 272px 652px #fff, 185px 1167px #fff, 1178px 1064px #fff, 1492px 45px #fff,
      1810px 628px #fff, 1406px 738px #fff, 714px 1295px #fff, 735px 333px #fff, 1106px 933px #fff, 198px 813px #fff,
      288px 595px #fff, 200px 1910px #fff, 1990px 1958px #fff, 857px 1416px #fff, 1799px 88px #fff, 1728px 1919px #fff,
      5px 370px #fff, 1567px 1703px #fff, 1533px 18px #fff, 1926px 294px #fff, 867px 1230px #fff, 82px 920px #fff,
      1613px 340px #fff, 1508px 86px #fff, 869px 611px #fff, 201px 1315px #fff, 5px 697px #fff, 1370px 1603px #fff,
      441px 1591px #fff, 3px 421px #fff, 1388px 1082px #fff, 1489px 1705px #fff, 1843px 644px #fff, 1015px 1804px #fff,
      1871px 512px #fff, 820px 1769px #fff, 421px 554px #fff, 1817px 790px #fff, 830px 595px #fff, 960px 844px #fff,
      1997px 1927px #fff, 1339px 1881px #fff, 112px 704px #fff, 695px 1194px #fff, 564px 1691px #fff, 521px 1210px #fff,
      1872px 458px #fff, 1326px 82px #fff, 1032px 1578px #fff, 1262px 1519px #fff, 1408px 1329px #fff, 743px 774px #fff,
      1421px 68px #fff, 1895px 1415px #fff, 1369px 440px #fff, 1010px 1488px #fff, 1851px 154px #fff, 344px 515px #fff,
      880px 744px #fff, 1856px 842px #fff, 1740px 451px #fff, 414px 985px #fff, 125px 1187px #fff, 1559px 560px #fff,
      1046px 1101px #fff, 9px 718px #fff, 1856px 1278px #fff, 656px 1459px #fff, 1044px 1397px #fff, 318px 757px #fff,
      247px 306px #fff, 1356px 660px #fff, 410px 1667px #fff, 251px 43px #fff, 1672px 1096px #fff, 1888px 921px #fff,
      1766px 1168px #fff, 1973px 1579px #fff, 161px 625px #fff, 955px 1335px #fff, 527px 701px #fff, 1670px 806px #fff,
      1185px 691px #fff, 1863px 972px #fff, 623px 970px #fff, 750px 606px #fff, 1717px 1810px #fff, 110px 1220px #fff,
      1998px 470px #fff, 765px 888px #fff, 569px 802px #fff, 1006px 1674px #fff, 492px 897px #fff, 1875px 701px #fff,
      641px 380px #fff, 1193px 305px #fff, 285px 168px #fff, 1939px 281px #fff, 240px 422px #fff, 404px 1988px #fff,
      1178px 1456px #fff, 1018px 615px #fff, 1083px 1344px #fff, 1221px 194px #fff, 276px 1391px #fff, 906px 603px #fff,
      1836px 1210px #fff, 1481px 1490px #fff, 637px 1503px #fff, 1311px 970px #fff, 539px 430px #fff, 1123px 751px #fff,
      136px 700px #fff, 1602px 1784px #fff, 1344px 1102px #fff, 860px 754px #fff, 368px 1414px #fff, 1924px 288px #fff,
      956px 1880px #fff, 1201px 43px #fff, 1352px 1550px #fff, 1269px 233px #fff, 1382px 259px #fff, 462px 922px #fff,
      1540px 1147px #fff, 1028px 962px #fff, 329px 1796px #fff, 1409px 1384px #fff, 882px 1243px #fff,
      1782px 1927px #fff, 1349px 1505px #fff, 1585px 84px #fff, 1633px 1789px #fff, 1024px 1957px #fff,
      1809px 285px #fff, 1083px 160px #fff, 637px 782px #fff, 380px 1605px #fff, 1085px 1064px #fff, 564px 953px #fff,
      1942px 123px #fff, 1756px 1096px #fff, 717px 1797px #fff, 1333px 737px #fff, 1956px 1976px #fff, 1655px 548px #fff,
      446px 800px #fff, 1117px 539px #fff, 1071px 606px #fff, 424px 1068px #fff, 1957px 1077px #fff, 239px 918px #fff,
      216px 652px #fff, 466px 10px #fff, 1121px 847px #fff, 258px 707px #fff, 53px 851px #fff, 1808px 1650px #fff,
      1018px 1318px #fff, 702px 538px #fff, 694px 1890px #fff, 1126px 1654px #fff, 1036px 1863px #fff, 282px 1449px #fff,
      1025px 1431px #fff, 287px 792px #fff, 507px 355px #fff;
}

#stars2 {
   width: 2px;
   height: 2px;
   background: transparent;
   box-shadow: 728px 17418px #fff, 152px 1490px #fff, 1055px 1983px #fff, 36px 422px #fff, 1342px 1099px #fff,
      714px 735px #fff, 720px 242px #fff, 697px 1818px #fff, 1743px 900px #fff, 1964px 1648px #fff, 584px 1772px #fff,
      500px 1365px #fff, 1110px 1580px #fff, 1385px 1280px #fff, 573px 1899px #fff, 1374px 889px #fff, 823px 1977px #fff,
      122px 748px #fff, 1815px 1949px #fff, 540px 968px #fff, 759px 1818px #fff, 997px 1425px #fff, 516px 149px #fff,
      1750px 1399px #fff, 623px 1959px #fff, 896px 1905px #fff, 790px 1871px #fff, 339px 910px #fff, 955px 1695px #fff,
      663px 505px #fff, 1675px 615px #fff, 1801px 1008px #fff, 633px 154px #fff, 1104px 1542px #fff, 698px 996px #fff,
      895px 1088px #fff, 28px 367px #fff, 1991px 855px #fff, 1861px 1382px #fff, 1194px 1957px #fff, 806px 1401px #fff,
      1569px 839px #fff, 1908px 618px #fff, 1791px 416px #fff, 1739px 297px #fff, 1670px 963px #fff, 1065px 1858px #fff,
      1377px 68px #fff, 928px 470px #fff, 896px 1716px #fff, 155px 760px #fff, 1953px 1721px #fff, 986px 404px #fff,
      688px 193px #fff, 12px 1565px #fff, 759px 1426px #fff, 1713px 738px #fff, 874px 492px #fff, 1210px 1257px #fff,
      1348px 337px #fff, 1009px 37px #fff, 739px 651px #fff, 250px 1269px #fff, 497px 560px #fff, 1265px 1596px #fff,
      87px 917px #fff, 777px 1417px #fff, 1973px 1553px #fff, 1815px 1717px #fff, 688px 426px #fff, 1622px 1773px #fff,
      432px 1672px #fff, 1262px 1069px #fff, 1230px 10px #fff, 424px 217px #fff, 222px 1278px #fff, 620px 1200px #fff,
      941px 1862px #fff, 758px 1212px #fff, 1155px 1423px #fff, 303px 1554px #fff, 921px 1498px #fff, 697px 1179px #fff,
      1362px 1874px #fff, 1417px 1524px #fff, 396px 1842px #fff, 56px 1635px #fff, 1623px 52px #fff, 826px 1264px #fff,
      152px 576px #fff, 622px 1779px #fff, 352px 1560px #fff, 109px 1338px #fff, 286px 953px #fff, 763px 275px #fff,
      1947px 356px #fff, 1169px 1712px #fff, 787px 480px #fff, 1597px 1002px #fff, 1822px 1194px #fff, 1407px 58px #fff,
      708px 1782px #fff, 1704px 1842px #fff, 1109px 962px #fff, 1906px 494px #fff, 266px 1485px #fff, 1881px 199px #fff,
      1106px 1418px #fff, 710px 1665px #fff, 1510px 1884px #fff, 1664px 206px #fff, 582px 1557px #fff, 1248px 453px #fff,
      1860px 538px #fff, 1269px 1869px #fff, 1261px 629px #fff, 1652px 1827px #fff, 1136px 559px #fff, 998px 1421px #fff,
      1440px 867px #fff, 1022px 242px #fff, 173px 251px #fff, 1148px 1333px #fff, 985px 620px #fff, 971px 1690px #fff,
      707px 1232px #fff, 19px 579px #fff, 388px 1351px #fff, 451px 352px #fff, 774px 1701px #fff, 1006px 1756px #fff,
      516px 874px #fff, 150px 912px #fff, 1993px 462px #fff, 1340px 987px #fff, 512px 1457px #fff, 1408px 830px #fff,
      404px 309px #fff, 1304px 1898px #fff, 1596px 401px #fff, 310px 1088px #fff, 730px 416px #fff, 947px 979px #fff,
      1152px 1531px #fff, 297px 1962px #fff, 1759px 347px #fff, 1217px 195px #fff, 663px 1023px #fff, 1135px 1541px #fff,
      1508px 281px #fff, 85px 493px #fff, 135px 108px #fff, 827px 751px #fff, 1582px 1587px #fff, 152px 585px #fff,
      22px 211px #fff, 1854px 883px #fff, 44px 195px #fff, 542px 905px #fff, 1221px 1143px #fff, 713px 1351px #fff,
      1428px 658px #fff, 342px 1694px #fff, 947px 938px #fff, 59px 635px #fff, 1429px 1987px #fff, 112px 169px #fff,
      1149px 639px #fff, 639px 619px #fff, 705px 1044px #fff, 1565px 683px #fff, 476px 1107px #fff, 1998px 1520px #fff,
      58px 1476px #fff, 408px 1060px #fff, 1584px 1708px #fff, 669px 32px #fff, 1226px 1156px #fff, 1295px 239px #fff,
      413px 97px #fff, 1309px 1255px #fff, 510px 1490px #fff, 374px 717px #fff, 1748px 1647px #fff, 1986px 1685px #fff,
      906px 248px #fff, 1889px 1760px #fff, 256px 1540px #fff, 1078px 807px #fff, 570px 670px #fff, 648px 1621px #fff,
      754px 415px #fff, 1685px 1159px #fff, 663px 1471px #fff, 905px 774px #fff, 1739px 1508px #fff, 1325px 626px #fff,
      1735px 1184px #fff, 1503px 48px #fff, 93px 608px #fff;
   animation: animStar 100s linear infinite;
}
#stars2:after {
   content: ' ';
   position: absolute;
   top: 2000px;
   width: 2px;
   height: 2px;
   background: transparent;
   box-shadow: 728px 17418px #fff, 152px 1490px #fff, 1055px 1983px #fff, 36px 422px #fff, 1342px 1099px #fff,
      714px 735px #fff, 720px 242px #fff, 697px 1818px #fff, 1743px 900px #fff, 1964px 1648px #fff, 584px 1772px #fff,
      500px 1365px #fff, 1110px 1580px #fff, 1385px 1280px #fff, 573px 1899px #fff, 1374px 889px #fff, 823px 1977px #fff,
      122px 748px #fff, 1815px 1949px #fff, 540px 968px #fff, 759px 1818px #fff, 997px 1425px #fff, 516px 149px #fff,
      1750px 1399px #fff, 623px 1959px #fff, 896px 1905px #fff, 790px 1871px #fff, 339px 910px #fff, 955px 1695px #fff,
      663px 505px #fff, 1675px 615px #fff, 1801px 1008px #fff, 633px 154px #fff, 1104px 1542px #fff, 698px 996px #fff,
      895px 1088px #fff, 28px 367px #fff, 1991px 855px #fff, 1861px 1382px #fff, 1194px 1957px #fff, 806px 1401px #fff,
      1569px 839px #fff, 1908px 618px #fff, 1791px 416px #fff, 1739px 297px #fff, 1670px 963px #fff, 1065px 1858px #fff,
      1377px 68px #fff, 928px 470px #fff, 896px 1716px #fff, 155px 760px #fff, 1953px 1721px #fff, 986px 404px #fff,
      688px 193px #fff, 12px 1565px #fff, 759px 1426px #fff, 1713px 738px #fff, 874px 492px #fff, 1210px 1257px #fff,
      1348px 337px #fff, 1009px 37px #fff, 739px 651px #fff, 250px 1269px #fff, 497px 560px #fff, 1265px 1596px #fff,
      87px 917px #fff, 777px 1417px #fff, 1973px 1553px #fff, 1815px 1717px #fff, 688px 426px #fff, 1622px 1773px #fff,
      432px 1672px #fff, 1262px 1069px #fff, 1230px 10px #fff, 424px 217px #fff, 222px 1278px #fff, 620px 1200px #fff,
      941px 1862px #fff, 758px 1212px #fff, 1155px 1423px #fff, 303px 1554px #fff, 921px 1498px #fff, 697px 1179px #fff,
      1362px 1874px #fff, 1417px 1524px #fff, 396px 1842px #fff, 56px 1635px #fff, 1623px 52px #fff, 826px 1264px #fff,
      152px 576px #fff, 622px 1779px #fff, 352px 1560px #fff, 109px 1338px #fff, 286px 953px #fff, 763px 275px #fff,
      1947px 356px #fff, 1169px 1712px #fff, 787px 480px #fff, 1597px 1002px #fff, 1822px 1194px #fff, 1407px 58px #fff,
      708px 1782px #fff, 1704px 1842px #fff, 1109px 962px #fff, 1906px 494px #fff, 266px 1485px #fff, 1881px 199px #fff,
      1106px 1418px #fff, 710px 1665px #fff, 1510px 1884px #fff, 1664px 206px #fff, 582px 1557px #fff, 1248px 453px #fff,
      1860px 538px #fff, 1269px 1869px #fff, 1261px 629px #fff, 1652px 1827px #fff, 1136px 559px #fff, 998px 1421px #fff,
      1440px 867px #fff, 1022px 242px #fff, 173px 251px #fff, 1148px 1333px #fff, 985px 620px #fff, 971px 1690px #fff,
      707px 1232px #fff, 19px 579px #fff, 388px 1351px #fff, 451px 352px #fff, 774px 1701px #fff, 1006px 1756px #fff,
      516px 874px #fff, 150px 912px #fff, 1993px 462px #fff, 1340px 987px #fff, 512px 1457px #fff, 1408px 830px #fff,
      404px 309px #fff, 1304px 1898px #fff, 1596px 401px #fff, 310px 1088px #fff, 730px 416px #fff, 947px 979px #fff,
      1152px 1531px #fff, 297px 1962px #fff, 1759px 347px #fff, 1217px 195px #fff, 663px 1023px #fff, 1135px 1541px #fff,
      1508px 281px #fff, 85px 493px #fff, 135px 108px #fff, 827px 751px #fff, 1582px 1587px #fff, 152px 585px #fff,
      22px 211px #fff, 1854px 883px #fff, 44px 195px #fff, 542px 905px #fff, 1221px 1143px #fff, 713px 1351px #fff,
      1428px 658px #fff, 342px 1694px #fff, 947px 938px #fff, 59px 635px #fff, 1429px 1987px #fff, 112px 169px #fff,
      1149px 639px #fff, 639px 619px #fff, 705px 1044px #fff, 1565px 683px #fff, 476px 1107px #fff, 1998px 1520px #fff,
      58px 1476px #fff, 408px 1060px #fff, 1584px 1708px #fff, 669px 32px #fff, 1226px 1156px #fff, 1295px 239px #fff,
      413px 97px #fff, 1309px 1255px #fff, 510px 1490px #fff, 374px 717px #fff, 1748px 1647px #fff, 1986px 1685px #fff,
      906px 248px #fff, 1889px 1760px #fff, 256px 1540px #fff, 1078px 807px #fff, 570px 670px #fff, 648px 1621px #fff,
      754px 415px #fff, 1685px 1159px #fff, 663px 1471px #fff, 905px 774px #fff, 1739px 1508px #fff, 1325px 626px #fff,
      1735px 1184px #fff, 1503px 48px #fff, 93px 608px #fff;
}

#stars3 {
   width: 3px;
   height: 3px;
   background: transparent;
   box-shadow: 364px 8785px #fff, 316px 656px #fff, 1845px 1794px #fff, 924px 358px #fff, 207px 155px #fff,
      230px 815px #fff, 456px 1895px #fff, 1635px 715px #fff, 422px 417px #fff, 1886px 1876px #fff, 1667px 1850px #fff,
      684px 889px #fff, 1327px 418px #fff, 651px 1624px #fff, 1865px 1927px #fff, 388px 497px #fff, 936px 1064px #fff,
      1439px 1849px #fff, 400px 267px #fff, 1978px 75px #fff, 1948px 1720px #fff, 420px 1805px #fff, 1753px 536px #fff,
      28px 1842px #fff, 158px 1764px #fff, 293px 843px #fff, 1989px 1995px #fff, 729px 922px #fff, 1469px 1917px #fff,
      819px 1204px #fff, 1231px 1871px #fff, 1987px 1111px #fff, 1734px 243px #fff, 538px 640px #fff, 828px 518px #fff,
      376px 22px #fff, 1624px 1576px #fff, 620px 26px #fff, 61px 1299px #fff, 72px 1391px #fff, 1559px 44px #fff,
      276px 1885px #fff, 1716px 1748px #fff, 1553px 1846px #fff, 143px 514px #fff, 1368px 1468px #fff, 1696px 323px #fff,
      874px 33px #fff, 162px 1247px #fff, 311px 1758px #fff, 1423px 669px #fff, 1672px 1213px #fff, 1077px 548px #fff,
      495px 1781px #fff, 1181px 1518px #fff, 846px 490px #fff, 499px 451px #fff, 1550px 807px #fff, 1154px 1728px #fff,
      1133px 1431px #fff, 1636px 187px #fff, 542px 456px #fff, 903px 31px #fff, 100px 1486px #fff, 239px 1750px #fff,
      420px 1306px #fff, 1061px 813px #fff, 1235px 1302px #fff, 1832px 1873px #fff, 612px 828px #fff, 966px 874px #fff,
      1584px 29px #fff, 707px 1277px #fff, 610px 1118px #fff, 1002px 1067px #fff, 1581px 141px #fff, 1688px 172px #fff,
      1091px 276px #fff, 180px 633px #fff, 1731px 863px #fff, 1885px 554px #fff, 1788px 184px #fff, 1942px 698px #fff,
      414px 1032px #fff, 1360px 1120px #fff, 1418px 264px #fff, 1750px 158px #fff, 1929px 683px #fff, 1939px 1673px #fff,
      993px 1825px #fff, 1363px 446px #fff, 1091px 1472px #fff, 843px 1037px #fff, 273px 75px #fff, 1063px 1569px #fff,
      30px 206px #fff, 1030px 895px #fff, 1231px 44px #fff, 748px 1456px #fff, 452px 1725px #fff;
   animation: animStar 150s linear infinite;
}
#stars3:after {
   content: ' ';
   position: absolute;
   top: 2000px;
   width: 3px;
   height: 3px;
   background: transparent;
   box-shadow: 364px 8785px #fff, 316px 656px #fff, 1845px 1794px #fff, 924px 358px #fff, 207px 155px #fff,
      230px 815px #fff, 456px 1895px #fff, 1635px 715px #fff, 422px 417px #fff, 1886px 1876px #fff, 1667px 1850px #fff,
      684px 889px #fff, 1327px 418px #fff, 651px 1624px #fff, 1865px 1927px #fff, 388px 497px #fff, 936px 1064px #fff,
      1439px 1849px #fff, 400px 267px #fff, 1978px 75px #fff, 1948px 1720px #fff, 420px 1805px #fff, 1753px 536px #fff,
      28px 1842px #fff, 158px 1764px #fff, 293px 843px #fff, 1989px 1995px #fff, 729px 922px #fff, 1469px 1917px #fff,
      819px 1204px #fff, 1231px 1871px #fff, 1987px 1111px #fff, 1734px 243px #fff, 538px 640px #fff, 828px 518px #fff,
      376px 22px #fff, 1624px 1576px #fff, 620px 26px #fff, 61px 1299px #fff, 72px 1391px #fff, 1559px 44px #fff,
      276px 1885px #fff, 1716px 1748px #fff, 1553px 1846px #fff, 143px 514px #fff, 1368px 1468px #fff, 1696px 323px #fff,
      874px 33px #fff, 162px 1247px #fff, 311px 1758px #fff, 1423px 669px #fff, 1672px 1213px #fff, 1077px 548px #fff,
      495px 1781px #fff, 1181px 1518px #fff, 846px 490px #fff, 499px 451px #fff, 1550px 807px #fff, 1154px 1728px #fff,
      1133px 1431px #fff, 1636px 187px #fff, 542px 456px #fff, 903px 31px #fff, 100px 1486px #fff, 239px 1750px #fff,
      420px 1306px #fff, 1061px 813px #fff, 1235px 1302px #fff, 1832px 1873px #fff, 612px 828px #fff, 966px 874px #fff,
      1584px 29px #fff, 707px 1277px #fff, 610px 1118px #fff, 1002px 1067px #fff, 1581px 141px #fff, 1688px 172px #fff,
      1091px 276px #fff, 180px 633px #fff, 1731px 863px #fff, 1885px 554px #fff, 1788px 184px #fff, 1942px 698px #fff,
      414px 1032px #fff, 1360px 1120px #fff, 1418px 264px #fff, 1750px 158px #fff, 1929px 683px #fff, 1939px 1673px #fff,
      993px 1825px #fff, 1363px 446px #fff, 1091px 1472px #fff, 843px 1037px #fff, 273px 75px #fff, 1063px 1569px #fff,
      30px 206px #fff, 1030px 895px #fff, 1231px 44px #fff, 748px 1456px #fff, 452px 1725px #fff;
}

@keyframes animStar {
   from {
      transform: translateY(0px);
   }
   to {
      transform: translateY(-2000px);
   }
}
