.projectInfo {
   width: 100%;
   line-height: 1.7;
   .projectWrapper {
      max-width: 1400px;
      margin: 0 auto;
      .pjTitleBox {
         width: 100%;
         text-align: center;
         color: white;

         margin-top: 10rem;
         h2 {
            font-size: 3.5rem;
         }
         h3 {
            margin-top: 1rem;
            font-size: 1rem;
         }
      }
      .pjImgBox {
         margin: 2rem 0;
         display: flex;
         justify-content: center;
      }
      .complete {
         h3 {
            color: #fff;
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: bold;
         }
         .overview {
            max-width: 1400px;
            margin: 0 auto;
            h4 {
               color: #fff;
               font-size: 1.5rem;
            }
            p {
               color: #a8a8a8;
            }
            .overviewProject {
               width: 100%;
               max-width: 1000px;

               text-align: center;
               display: flex;
               justify-content: center;
               margin: 3rem auto;

               li {
                  width: 24rem;
                  color: #a8a8a8;
                  &:nth-child(2) {
                     border-right: 1px solid #a8a8a8;
                     border-left: 1px solid #a8a8a8;
                  }
                  strong {
                     color: #fff;
                     font-size: 1.2rem;
                  }
               }
            }
         }
         .ps {
            color: #fff;

            .psInner {
               max-width: 1400px;
               margin: 0 auto;
               display: flex;
               padding: 3rem 0;

               border-bottom: 1px solid #a8a8a8;
               .psInnerText {
                  width: 50%;
                  font-size: 2rem;
                  font-weight: bold;
               }
               .innerUl {
                  font-size: 1.2rem;
                  list-style-type: disc;
               }
            }
         }
         .task {
            padding: 3rem 0;
            display: flex;
            border-bottom: 1px solid #a8a8a8;
            .taskInnnerText {
               width: 50%;
               font-size: 2rem;
               font-weight: bold;
            }
            ul {
               list-style-type: disc;
               color: #fff;
               font-size: 1.2rem;
            }
         }
         .good {
            padding: 3rem 0;
            display: flex;
            border-bottom: 1px solid #a8a8a8;
            .goodInner {
               width: 50%;
               font-size: 2rem;
               font-weight: bold;
            }
            ul {
               color: #fff;
               li {
                  margin-bottom: 2rem;
                  h2 {
                     font-size: 1.5rem;
                     font-weight: bold;
                     margin-bottom: 0.5rem;
                  }
                  p {
                     color: #c5c5c5;
                  }
               }
            }
         }
         .incon {
            padding: 3rem 0;
            display: flex;
            border-bottom: 1px solid #a8a8a8;
            .inconInner {
               width: 50%;
               font-size: 2rem;
               font-weight: bold;
            }
            ul {
               color: #fff;
               li {
                  margin-bottom: 2rem;
                  h2 {
                     font-size: 1.5rem;
                     font-weight: bold;
                     margin-bottom: 0.5rem;
                  }
                  p {
                     color: #c5c5c5;
                  }
               }
            }
         }
         .review {
            padding: 3rem 0;
            display: flex;
            border-bottom: 1px solid #a8a8a8;
            .reviewInnerText {
               width: 50%;
               h3 {
                  margin: 0;
               }
            }
            ul {
               color: #fff;
               li {
                  margin-bottom: 2rem;
                  h2 {
                     font-size: 1.5rem;
                     font-weight: bold;
                     margin-bottom: 0.5rem;
                  }
                  p {
                     color: #c5c5c5;
                  }
               }
            }
         }
      }
      button {
         margin-top: 2rem;
         cursor: pointer;
         border: 1px solid #10a19d;
         border-radius: 5px;
         background-color: transparent;

         color: white;
         font-size: 1.3rem;
         padding: 10px 20px;
         transition: all 0.5s;
         &:hover {
            background-color: #10a19d;
         }
      }
      .prev {
         text-align: center;
         margin: 2rem 0;
         a {
            display: block;
            text-decoration: none;
            color: white;
         }
      }
   }
}
